# Ignore Mac system files
.DS_store

# Ignore all text files
*.txt

# Ignore files related to API keys
.env

# Ignore images the test pattern produces
*.png

# Ignore env directory
env/
venv/

# Ignore mac files
._*

# Ignore local files
ignore_*

# Ignore archive folder
archive

# Ignore cache files
__*
